<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Errors World Tour</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <!--Nav Bar-->
    <nav class="navbar bg-base-100">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost normal-case text-xl"
          >Lego Collection</a>
        </div>
        <div class="navbar-center hidden sm:flex">
          <a href="/about" class="btn btn-ghost">About</a>
        </div>
          <ul class="menu menu-horizontal px-1">
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Books">Books</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Hero Section -->
    <div class="container mx-auto mt-4">
      <div class="hero bg-base-200 text-center rounded-md p-8">
        <h1 class="text-4xl font-bold mb-4">404 - Not Found</h1>
        <div>
        </br>
        </br>
        </br>
          <p>
            I'm sorry but the old Taylor can't come to the page right now. Why? Oh,
            'cause the page doesn't exist. (oh)
          </p>
        </div>
      </div>
    </div>

    <!-- Additional content or image for 404 page -->
  </body>
</html>
